In [1]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base
import pandas as pd

In [2]:
DATABASE_URL = "sqlite:///data/snake_game.db"
engine = create_engine(DATABASE_URL)
SessionLocal = sessionmaker(autocommit=False, autoflush=False, bind=engine)

In [3]:
from sqlalchemy import Column, Integer, Float  # Importation des types de colonnes nécessaires
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

class GameData(Base):
    __tablename__ = "game_data"  # Le nom de la table dans votre base de données

    id = Column(Integer, primary_key=True, index=True)
    score = Column(Integer)
    game_time = Column(Float)
    snake_head_x = Column(Integer)
    snake_head_y = Column(Integer)
    current_food_position_x = Column(Integer)
    current_food_position_y = Column(Integer)
    previous_food_position_x = Column(Integer)
    previous_food_position_y = Column(Integer)
    board_width = Column(Integer)
    board_height = Column(Integer)

/var/folders/kl/3nc79ycx61v13jbqlw61nnfw0000gn/T/ipykernel_84616/356900701.py:4: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [4]:
db = SessionLocal()
try:
    game_data_list = db.query(GameData).all() 
    df = pd.DataFrame([{
        "id": data.id,
        "score": data.score,
        "game_time": data.game_time,
        "snake_head_x": data.snake_head_x,
        "snake_head_y": data.snake_head_y,
        "current_food_position_x": data.current_food_position_x,
        "current_food_position_y": data.current_food_position_y,
        "previous_food_position_x": data.previous_food_position_x,
        "previous_food_position_y": data.previous_food_position_y,
        "board_width": data.board_width,
        "board_height": data.board_height
    } for data in game_data_list])

    print(df.describe())  # Analyse descriptive de base
finally:
    db.close()

              id      score      game_time  snake_head_x  snake_head_y  \
count  86.000000  86.000000      86.000000     86.000000     86.000000
mean   43.500000  12.127907   70253.639535     29.255814     14.709302
std    24.969982  12.670296   64732.081535     24.879562     12.009669
min     1.000000   0.000000    4481.000000      0.000000      0.000000
25%    22.250000   2.000000   20382.750000      1.250000      0.000000
50%    43.500000   9.000000   58033.500000     25.000000     15.000000
75%    64.750000  18.750000   99111.750000     49.000000     28.000000
max    86.000000  61.000000  337968.000000     69.000000     30.000000

       current_food_position_x  current_food_position_y  \
count                86.000000                86.000000
mean                 36.802326                15.313953
std                  22.653305                 9.362330
min                   0.000000                 0.000000
25%                  15.500000                 9.000000
50%                  36.000000                15.000000
75%                  58.000000                23.000000
max                  69.000000                28.000000

       previous_food_position_x  previous_food_position_y  board_width  \
count                 86.000000                 86.000000    86.000000
mean                  26.627907                 13.220930    65.988372
std                   19.520153                  7.524706     6.791854
min                    0.000000                  0.000000    53.000000
25%                   15.000000                  8.000000    63.000000
50%                   21.500000                 14.000000    70.000000
75%                   42.500000                 19.000000    70.000000
max                   68.000000                 28.000000    70.000000

       board_height
count     86.000000
mean      29.116279
std        1.278037
min       26.000000
25%       29.000000
50%       29.000000
75%       29.000000
max       31.000000

In [5]:
df

,id,score,game_time,snake_head_x,snake_head_y,current_food_position_x,current_food_position_y,previous_food_position_x,previous_food_position_y,board_width,board_height
0,1,1,21714.0,69,28,12,21,15,15,70,29
1,2,1,16566.0,0,0,64,16,15,15,70,29
2,3,3,25207.0,46,0,18,22,46,3,53,31
3,4,1,25098.0,21,30,17,9,15,15,53,31
4,5,1,16394.0,31,0,33,2,15,15,53,31
...,...,...,...,...,...,...,...,...,...,...,...
81,82,7,53460.0,69,9,69,20,25,8,70,29
82,83,15,79008.0,68,0,67,9,64,16,70,29
83,84,0,16901.0,69,0,15,15,64,16,70,29
84,85,1,10322.0,15,28,28,27,15,15,70,29
85,86,4,36303.0,27,28,54,1,27,25,70,29

In [7]:
df.to_csv('./data/data.csv', index=False)